

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 36em) { 
    /* Home page */
    .container{
        width: 95%;
    }
    .home{
        padding: 50px 0;
    }
    /* category section */
    .category .categories{
        text-align: center;
    }

    /* About section */
    .about-bottom{
        padding: 20px !important;
    }
    /* Category section */
    .category h2{
        font-size: 28px;
    }

    /* Group section */
    .group .group-right{
        padding: 20px;
    }

    /* About Page */
    /* About section */
    .a-top{
        width: 100%;
    }
    .countdown{
        flex-wrap: wrap;
        left: 0;
    }
    .count{
        padding: 10px;
    }

    /* Team section */
    .team-top, .team-bottom{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .team-top .team-top-left, .team-bottom .team-bottom-right{
        padding: 0 10px;
    }

    /* testimonial section */
    .testimonials{
        padding: 20px;
    }
    .testimonial-left{
        padding: 0;
    }
    .testimonial-right .testimonial-right-bottom{
        flex-wrap: wrap;
        row-gap: 50px;
    }

    /* footer section */
    footer .navbar{
        row-gap: 20px;
    }
    .subscribe{
        padding: 20px;
    }
    .subscribe .sub-left{
        flex-basis: 100%;
    }
    .subscribe .sub-right{
        flex-basis: 100%;
    }
    .subscribe input[type=submit]{
        width: 45%;
    }
    
    /* Author page */
    .mat .mat-right{
        padding: 0;
    }

    /* Category page */
    
    .category-content{
        width: 80% !important;
    }
}




/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 48em) {
    /* Navbar section */
    
    header .navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: brown;
        position: fixed;
        top: 80px;
        right: -48%;
        transition: right 0.5s ease-in-out;
    }
    header label{
        display: block;
    }
    header input:checked ~ .nav-right ul{
        right: 0%;
    }

    /* Home section */
    .home{
        width: 100%;
    }
    .home h2, .home p{
        width: 100%;
    }

    

    /* About section */
    .about-bottom{
        flex-wrap: wrap;
    }

    /* Group section */
    .group{
        position: unset;
        height: fit-content;
    }
    .group .group-right{
        position: unset;
        flex-basis: 100%;
    }
    .group .group-left{
        flex-basis: 100%;
    }

    /* Testimonial section */
    .testimonials{
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .testimonial-right{
        padding: 0;
        border: none;
    }


    /* Blog page */
    /* Home section */
    .home h2{
        font-size: 25px;
    }
    .blog-home-left{
        width: 100% !important;
    }
    .blog-container{
        flex-wrap: wrap;
    }
    .blog-home-right{
        flex-basis: 100%;
    }
    /* Blog post section */
    .blog-post{
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .blog-post h3{
        width: 100%;
    }

    /* About Page */
    /* about section */
    .a-top{
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .a-top :is(.at-left,.at-right){
    flex-basis: 100%;
    }
    .a-top .at-right{
        margin: 30px 0 50px;
    }

    /* Category page */
    .category-content{
        width: 50%;
    }
    .category-names .cnames{
        flex-wrap: wrap;
    }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 62em) {
    .home{
        width: 80%;
    }
    /* Post section */
    .post .post-left, .post .post-right{
        flex-basis: 100%;
    }

    /* Contact page */
    .contact-middle{
        padding: 1rem;
    }
    .contact-middle .cm-left, .contact-middle .cm-right{
        flex-basis: 92%;
    }
    /* Author page */
    .mat, .mab{
        flex-wrap: wrap;
        justify-content: center;
    }
    .mab img{
        width: 100%;
    }

    /* Category page */
    .category-container{
        flex-wrap: wrap;
    }
    .category-names .cnames{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .category-tags{
        width: 100%;
    }
 }

 

/* // Large devices (desktops, greater than 1200px) */
@media (min-width: 75em) {

 }